# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /prj_thicas/thicas/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /prj_thicas/thicas/index.php [L]
</IfModule>

# END WordPress